* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-attachment: fixed;
}

main {
  padding: 36px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 0.2rem;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.form--input:focus {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
.form--button {
  margin: 0.2rem;
  padding: 2px;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  display: inline-block;
}

.meme--image {
  padding: 2.5rem;
  max-height: 500px;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.meme--top-text,
.meme--bottom-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
}

.meme--top-text {
  top: 10px;
}

.meme--bottom-text {
  bottom: 20px;
}